<header class="h-14 bg-block w-full border-l border-bg">
    <button class="js-menu-toggle h-full aspect-square text-white font-extrabold hover:bg-block-highlighted flex justify-center items-center">
        <img class="w-6/10 h-6/10" src="/imgs/burger-menu.svg" alt="burger menu" />
    </button>
</header>