@{
    ViewData["Title"] = "Авторизация";
    ViewData["HaveMenu"] = false;
}

<div id="js-home-container" class="w-full flex flex-row flex-wrap justify-start items-start">

</div>

<script src="~/dist/home.min.js" asp-append-version="true"></script>