@{
    ViewData["Title"] = "Главная";
}

<div id="js-home-container" class="w-full flex flex-row flex-wrap justify-start items-start">

</div>

<script src="~/libs/moment.js" defer asp-append-version="true"></script>
<script src="~/js/other/home.js" defer asp-append-version="true"></script>